Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

xterm*termName: xterm-256color
xterm*geometry: 80x24
xterm*background: Black
xterm*foreground: Green
XTerm*selectToClipboard: true
xterm*faceName: Bitstream Vera Sans Mono
xterm*faceSize: 24
!xterm*font: -misc-fixed-medium-*-*-*-*-200-*-*-*-*-iso10646-*
xterm*boldMode: true
XTerm*cursorColor: LightBlue
XTerm*color0: black
XTerm*color1: orangered3
XTerm*color2: green4
XTerm*color3: yellow3
XTerm*color4: slateblue4 
XTerm*color5: magenta4
XTerm*color6: cyan3
XTerm*color7: gray90
XTerm*color8: gray50
XTerm*color9: orangered3
XTerm*color10: green4
XTerm*color11: yellow3
XTerm*color12: slateblue4
XTerm*color13: magenta4
XTerm*color14: cyan3
XTerm*color15: white
XTerm*colorUL: yellow3
XTerm*colorBD: white
